[user]
	name = Jeff Guan
	email = jguan@lyft.com
[alias]
    a = add -u
    c = commit -m
    ch = checkout
    s = status
    psetup = push --set-upstream origin
    update = pull origin master
    
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
